appdirs==1.4.3
-e git+git@github.com:cloudinary/pycloudinary.git@12b5bbae7e262ac4425d70f12b30c4a1f9ca1fea#egg=cloudinary
Django==1.8.13
olefile==0.44
packaging==16.8
Pillow==4.1.0
pyparsing==2.2.0
pytz==2017.2
six==1.10.0
urllib3==1.20
